
body {
  margin: 0;
  line-height: normal;
}

.coming-soon {
  position: absolute;
  top: 0px;
  left: 0px;
}
.stay-tuned-work {
  position: absolute;
  top: 102px;
  left: 0px;
  font-size: 36px;
  font-family: 'Inria Sans';
}
.comming-soon {
  position: absolute;
  top: 405px;
  left: 366px;
  width: 780px;
  height: 145px;
}
.container {
  width: 100%;
  position: relative;
  background-color: #1e1e1e;
  height: 982px;
  overflow: hidden;
  text-align: left;
  font-size: 96px;
  color: #fff;
  font-family: 'Faster One';
}



